page-home {
    .icon{
        width: 100px;
        height: 100px;
    }
    ion-card {
        border-top: 2px solid colorofyourchoice!important ;
        border-radius : 60px!important ;
     }
     .masters {
        background-color: #e0e0e0;
      }

    .name {
        font-size: 30px;
        font-family: Roboto;
        color: black;
        text-align: center;
    }

    .date {
        font-size: 19px;
        font-family: Roboto;
        text-align: center;
    }
}
